.secrets
_*

..gitignore*
authelia/*
!authelia/docker-compose.yml
nextcloud/*
!nextcloud/docker-compose.yaml
!nextcloud/Dockerfile
collabora/*
#!collabora/docker-compose.yaml
traefik/*
!traefik/docker-compose.yaml
paperless/*
#!paperless/docker-compose.yaml
dashy/*
!dashy/docker-compose.yaml
gitea/*
!gitea/docker-compose.yaml
pihole/*
!pihole/docker-compose.yaml
portainer/*
!portainer/docker-compose.yaml
ig-193-nextcloud/*
grafana/*
grist/*
#!grist/docker-compose.yml
ig-193/*
!ig-193/docker-compose.yaml
lldap/*
!lldap/docker-compose.yml
mariadb/*
!mariadb/docker-compose.yaml
psql/*
!psql/docker-compose.yaml
psql-test*
rustdesk/*
